Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.

In [11]:
mail = input("Enter the email Id:")
x = mail.find("@")
comp = mail[x+1:]
y = comp.find(".")
if y != -1:
  c = comp[:y]
else:
  c=comp
print(c)

Enter the email Id:abishek@gmail.com
gmail

Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [23]:
l = input("Enter comma seperated values:")
str1=l.split(",")
print(str1)
str1.sort()
print(str1)

Enter comma seperated values:gds,asd,ert
['gds', 'asd', 'ert']
['asd', 'ert', 'gds']

Create your own Jupyter Notebook for Sets. Reference link:
https://www.w3schools.com/python/python_sets.asp

In [26]:
thisset = {"abi", "ajay", "arun"}
print(thisset)
x="abi"
for x in thisset:
  print(x)
print("banana" in thisset)
thisset.add("mothi")
thisset.update(["athira", "anna", "indu"])
print(len(thisset))
#thisset.remove("moth")
thisset.discard("moth")
d = thisset.pop()
print(d)
thisset.clear()
print(thisset)
del thisset
#print(thisset)
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)
set1.update(set2)
print(set1)
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'arun', 'abi', 'ajay'}
arun
abi
ajay
False
7
anna
set()
{1, 2, 3, 'c', 'b', 'a'}
{1, 2, 3, 'c', 'b', 'a'}
{'cherry', 'apple', 'banana'}

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [41]:
n = input("Enter values seperated by space:")
s = n.split(" ")
#print(s)

k = list(int(i) for i in s)
j = max(k)
#print(k)

for i in range(1,j+1):
  if i not in k:
    print(i)

Enter values seperated by space:3 5 2 1 6
['3', '5', '2', '1', '6']
[3, 5, 2, 1, 6]
4

With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35

In [47]:
l = input("Enter a list of values:")
l = l.split(" ")
n = []
for i in l:
  if n == "":
    n.append(i)
  if i not in n:
    n.append(i)
  if i in n:
    continue

print(n)

Enter a list of values:12 24 35 24 88 120 155 88 120 155
['12', '24', '35', '88', '120', '155']